# Environment
backend/.env

# Virtual environments
backend/venv/
backend/.venv/
ml-service/venv/
ml-service/.venv/

# Ignore demo backend completely
backend_m/

# Uploads
backend/uploads/
ml-service/uploads/

# Python cache
**/__pycache__/
*.pyc

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db